html, body{margin:0px; padding:0px;}
* {font-family:'맑은 고딕'; cursor:default;}

::-webkit-scrollbar {width:0px;}
::-webkit-scrollbar-track {background:rgba(255,255,255,.1); border-radius: 3px;}
::-webkit-scrollbar-thumb {border-radius: 3px; background: rgba(255,255,255,0.5);}
::-webkit-scrollbar-thumb:window-inactive {background: rgba(255,255,255,0.25);}

.designmode div {box-shadow:inset 1px 1px 0px rgba(0,0,0,0.2), inset -1px -1px 0px rgba(0,0,0,0.2);}

.header {min-height:36px; position:fixed; left:2px; top:2px; right:2px; bottom:calc(100% - 38px); font-family:'맑은 고딕'; box-shadow:0px 0px 2px rgba(0,0,0,0.5) !important; border-radius:4px; background:rgba(75, 0, 187, 0.5); color:#FFF; text-shadow:0px 0px 1px #000, 0px 0px 1px #808080, 0px 0px 1px #808080, 0px 0px 2px #808080, 0px 0px 3px #404040; -webkit-filter:drop-shadow(0px 0px 2px rgba(0,0,0,0.5)); filter:drop-shadow(0px 0px 2px rgba(0,0,0,0.5)); overflow:hidden; transition:0.5s; z-index:100;}

.encounter {margin:5px; height:26px; line-height:26px; font-size:24px; width:calc(100% - 150px);}
.encounter>div {float:left; font-family:'맑은 고딕';}
.encounter>.encounter_list{width:24px; height:24px; border-radius:50%; border:2px solid #FFF; box-sizing:border-box; margin:1px;}
.encounter>.duration{font-family:'Aldrich'; line-height:28px; padding-left:2px;}
.encounter>.title {position:absolute; font-size:12px; left:140px; top:3px; line-height:12px; font-weight:bold;}
.encounter>.RDPS, .encounter>.RHPS {padding-left:18px; position:absolute; left:140px; font-size:14px; line-height:13px; font-weight:bold; top:19px; background-size:auto 100%; background-repeat:no-repeat; background-image:url(../image/rdps.png);}
.encounter>.RHPS {left:210px; background-image:url(../image/rhps.png);}

body>.body {position:fixed; left:2px; bottom:2px; right:2px; top:40px; overflow-x:hidden; overflow-y:auto; box-shadow:none; border-radius:3px;}
body>.body>div {padding-top:2px; padding-bottom:2px; position:relative; -webkit-filter:drop-shadow(0px 0px 2px rgba(0,0,0,0.75)); filter:drop-shadow(0px 0px 2px rgba(0,0,0,0.75)); width:100%; box-sizing:border-box;}
body>.body>div>div {position:absolute; height:24px; width:100%; box-shadow:none; box-sizing:border-box; transition:.5s;}
body>.body>div>div .job {width:24px; height:24px; border:2px solid #FFF; border-radius:50%; box-sizing:border-box; position:absolute; left:4px; top:0px; box-shadow:none; background-color:#555; background-size:200px 100px;}
body>.body>div>div .barcover {position:absolute; box-shadow:none; height:20px; left:36px; right:8px; top:2px; opacity:0.8;}
body>.body>div>div .bar,
body>.body>div>div .pbar,
body>.body>div>div .overhealbar,
body>.body>div>div>.shadowbar {position:absolute; left:0px; height:20px; box-shadow:none; color:#FFF; background:#000; transition:.5s;}
body>.body>div>div .bar {-webkit-filter:brightness(0.95); filter:brightness(0.95);}
body>.body>div>div>.shadowbar {z-index:-1; opacity:0.25;}
body>.body>div>div .leftdeco {width:10px; height:20px; left:-10px; position:absolute; overflow:hidden; box-shadow:none; background:transparent !important; border:0px solid transparent !important;}
body>.body>div>div .leftdeco_inner {position:absolute; margin-left:-35px; margin-top:-15px; width:30px; height:30px; border:10px solid #000; border-radius:50%; box-shadow:none; background:0px !important;}
body>.body>div>div .rightdeco {border-width:10px 5px 10px 5px; border-style:solid; border-top-color:transparent !important; border-right-color:transparent !important; border-bottom-color:transparent !important; position:absolute; right:-10px; background:0px !important; border-left-color:#000;}
body>.body>div>div>.shadowbar {left:37px; top:2px; right:8px;}

/* DEFAULT */
.DPS .job {background-color:#A00000 !important;}
.Tanker .job {background-color:#0000A0 !important;}
.Healer .job {background-color:#00A000 !important;}
.AVA .job {background-color:#B09000 !important;}

.body>div>.PLD>.barcover>.bar, .body>div>.PLD>.barcover>.pbar {background:#88CCCC;}
.body>div>.PLD>.barcover>.bar *, .body>div>.PLD>.barcover>.pbar * {border-color:#88CCCC;}
.body>div>.WAR>.barcover>.bar, .body>div>.WAR>.barcover>.pbar {background:#921000;}
.body>div>.WAR>.barcover>.bar *, .body>div>.WAR>.barcover>.pbar * {border-color:#921000;}
.body>div>.DRK>.barcover>.bar, .body>div>.DRK>.barcover>.pbar {background:#642324;}
.body>div>.DRK>.barcover>.bar *, .body>div>.DRK>.barcover>.pbar * {border-color:#642324;}

.body>div>.WHM>.barcover>.bar, .body>div>.WHM>.barcover>.pbar {background:#CFB090;}
.body>div>.WHM>.barcover>.bar *, .body>div>.WHM>.barcover>.pbar * {border-color:#CFB090;}
.body>div>.SCH>.barcover>.bar, .body>div>.SCH>.barcover>.pbar {background:#232898;}
.body>div>.SCH>.barcover>.bar *, .body>div>.SCH>.barcover>.pbar * {border-color:#232898;}
.body>div>.AST>.barcover>.bar, .body>div>.AST>.barcover>.pbar {background:#D98028;}
.body>div>.AST>.barcover>.bar *, .body>div>.AST>.barcover>.pbar * {border-color:#D98028;}

.body>div>.MNK>.barcover>.bar, .body>div>.MNK>.barcover>.pbar {background:#D9B028;}
.body>div>.MNK>.barcover>.bar *, .body>div>.MNK>.barcover>.pbar * {border-color:#D9B028;}
.body>div>.DRG>.barcover>.bar, .body>div>.DRG>.barcover>.pbar {background:#4968E1;}
.body>div>.DRG>.barcover>.bar *, .body>div>.DRG>.barcover>.pbar * {border-color:#4968E1;}
.body>div>.NIN>.barcover>.bar, .body>div>.NIN>.barcover>.pbar {background:#564848;}
.body>div>.NIN>.barcover>.bar *, .body>div>.NIN>.barcover>.pbar * {border-color:#564848;}
.body>div>.SAM>.barcover>.bar, .body>div>.SAM>.barcover>.pbar {background:#B1A066;}
.body>div>.SAM>.barcover>.bar *, .body>div>.SAM>.barcover>.pbar * {border-color:#B1A066;}

.body>div>.BRD>.barcover>.bar, .body>div>.BRD>.barcover>.pbar {background:#B4D143;}
.body>div>.BRD>.barcover>.bar *, .body>div>.BRD>.barcover>.pbar * {border-color:#B4D143;}
.body>div>.MCH>.barcover>.bar, .body>div>.MCH>.barcover>.pbar {background:#38B0B4;}
.body>div>.MCH>.barcover>.bar *, .body>div>.MCH>.barcover>.pbar * {border-color:#38B0B4;}

.body>div>.BLM>.barcover>.bar, .body>div>.BLM>.barcover>.pbar {background:#644696;}
.body>div>.BLM>.barcover>.bar *, .body>div>.BLM>.barcover>.pbar * {border-color:#644696;}
.body>div>.SMN>.barcover>.bar, .body>div>.SMN>.barcover>.pbar {background:#288A3B;}
.body>div>.SMN>.barcover>.bar *, .body>div>.SMN>.barcover>.pbar * {border-color:#288A3B;}
.body>div>.RDM>.barcover>.bar, .body>div>.RDM>.barcover>.pbar {background:#E579A8;}
.body>div>.RDM>.barcover>.bar *, .body>div>.RDM>.barcover>.pbar * {border-color:#E579A8;}

.body>div>.LMB>.barcover>.bar, .body>div>.LMB>.barcover>.pbar {background:#FFB000;}
.body>div>.LMB>.barcover>.bar *, .body>div>.LMB>.barcover>.pbar * {border-color:#FFB000;}

.body>div>*>.barcover>.overhealbar {background:#600000;}
.body>div>*>.barcover>.overhealbar * {border-color:#600000;}

.body>div>*>.data {color:#FFF; text-shadow:0px 0px 1px #000, 0px 0px 1px #000, 0px 0px 1px #000, 0px 0px 1px #000; font-size:12px; z-index:5; position:absolute; right:5px; height:20px; left:35px; line-height:20px; top:2px; filter:brightness(1.1);}
.body>div>.PLD>.data {color:#CFF;}
.body>div>.WAR>.data {color:#FCA;}
.body>div>.DRK>.data {color:#FB8;}

.body>div>.WHM>.data {color:#FEA;}
.body>div>.SCH>.data {color:#EFE;}
.body>div>.AST>.data {color:#FF9;}

.body>div>.MNK>.data {color:#FE9;}
.body>div>.DRG>.data {color:#7CF;}
.body>div>.NIN>.data {color:#F69;}
.body>div>.SAM>.data {color:#FFFFFF; text-shadow:0px 0px 1px rgb(85, 34, 0), 0px 0px 1px rgb(85, 34, 0), 0px 0px 1px rgb(85, 34, 0);}

.body>div>.BRD>.data {color:#DF7;}
.body>div>.MCH>.data {color:#BFC;}

.body>div>.BLM>.data {color:#EBF;}
.body>div>.SMN>.data {color:#DF7;}
.body>div>.RDM>.data {color:#FFF;  text-shadow:0px 0px 1px #896DDA, 0px 0px 1px #896DDA, 0px 0px 1px #896DDA;}

.body>div>.YOU>.data {font-weight:bold;}

.body>div>*>.data>.name {-webkit-filter:blur(3px); filter:blur(3px);}
.body>div>.YOU>.data>.name {display:inline; -webkit-filter:none; filter:none;}
.body>div>*>.data>.columns {position:absolute; right:0px; top:0px; bottom:0px; left:50px; text-align:right; overflow:hidden;}
.body>div>*>.data>.columns>* {display:inline-block; width:48px; padding-left:2px; padding-right:3px; text-align:center; position:relative; height:20px;}
.body>div>*>.data>.columns>*::before {content:" "; width:1px; height:20px; background:linear-gradient(to bottom, rgba(255,255,255,0) 0%, #FFF 50%, rgba(255,255,255,0) 100%); float:left; position:absolute; left:0px; top:0px;}
.body>div>div .bar {z-index:5;}
.body>div>div .pbar {z-index:1; -webkit-filter:brightness(0.4); filter:brightness(0.4);}

/* 어차피 시작점 데코는 겹쳐봐야 이쁠 거 없음 */
.body>div>div .pbar .leftdeco_inner,
.body>div>div .overhealbar .leftdeco_inner {border-color:transparent !important;}

.footer {position:fixed; left:4px; bottom:4px; right:4px; height:25px; background:url(../image/handle.png) no-repeat; background-position:right bottom; opacity:0.25; transition:0.5s;}
.footer:hover {opacity:1;}

.dpsheader, .hpsheader {height:20px; line-height:15px; text-align:right; padding-right:5px;  padding-left:80px; overflow:hidden;}
.dpsheader>span,
.hpsheader>span {height:15px; line-height:14px; display:inline-block; width:48px; font-size:11px; font-family:'맑은 고딕'; background:rgba(127,127,127,0.5);  border-radius:4px; text-align:center; margin-left:1px; color:#FFF; text-shadow:0px 0px 1px #FFF, 0px 0px 2px #000; padding-left:2px; padding-right:2px;}

.dpsheader>.hilight, .hpsheader>.hilight {background:rgba(75, 0, 187, 0.75); box-shadow:inset 0px 0px 1px #FFF;}

.dpsheader>span:active,
.hpsheader>span:active {box-shadow:inset 0px 0px 1px #FFF; background:rgba(255,255,255,.5);}

.body>.dpsarea, .body>.hpsarea {box-shadow:none;}

.encounter>.refreshbtn,
.encounter>.nickhideshowbtn,
.encounter>.capturebtn,
.encounter>.endencounterbtn,
.encounter>.menubtn {width:24px; height:24px; box-sizing:border-box; border:2px solid #FFF; border-radius:50%; position:absolute; right:6px; top:6px;}

.encounter>.refreshbtn,
.encounter>.nickhideshowbtn,
.encounter>.capturebtn,
.encounter>.endencounterbtn,
.encounter>.menubtn,
.encounter>.encounter_list {line-height:20px; text-shadow:none;}

.encounter i {font-size:20px; text-shadow:none; border-radius:50%; overflow:hidden;}

.encounter>.refreshbtn {right:90px;}
.encounter>.nickhideshowbtn {right:90px;}
.encounter>.capturebtn {right:62px;}
.encounter>.endencounterbtn {right:34px;}

.menupanel {position:absolute; left:2px; top:36px; right:2px; bottom:2px; background:rgba(0,0,0,0.5); border-bottom-left-radius:3px; border-bottom-right-radius:3px; overflow-x:hidden; overflow-y:auto;}
.menupanel>.top {position:relative; height:5px; background:linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, transparent 100%);}

.menupanel>.options {font-family:'맑은 고딕'; height:24px; line-height:24px; padding-left:34px; border-bottom:1px solid rgba(0,0,0,.5); cursor:pointer; text-shadow:0px 0px 1px #7F3300, 0px 0px 1px #7F3300,0px 0px 2px #FFD800;}
.menupanel>.options:last-child {border-bottom:0px;}
.menupanel>.toggle[data-checked=true]::before {position:absolute; left:6px; height:24px; width:24px; text-align:center; content:'done'; font-family: 'Material Icons'; font-weight: normal; font-style: normal; direction: ltr; font-size:22px; font-feature-settings:"liga" 1;}

.viewnick span {filter:none !important; -webkit-filter:none !important;}
.noanim * {transition:none !important;}
.menupanel::-webkit-scrollbar {width:4px;}
.menupanel::-webkit-scrollbar-track {background:rgba(255,255,255,.1); border-radius: 3px;}
.menupanel::-webkit-scrollbar-thumb {border-radius: 3px; background: rgba(255,255,255,0.5);}
.menupanel::-webkit-scrollbar-thumb:window-inactive {background: rgba(255,255,255,0.25);}

.blackout {border-color:transparent !important; margin:2px; width:20px !important; height:20px !important;}

.notifyarea {position:absolute; left:2px; right:2px; top:44px; bottom:6px; filter:drop-shadow(0px 0px 1px #000) drop-shadow(0px 0px 1px rgba(0,0,0,0.5)); -webkit-filter:drop-shadow(0px 0px 1px #000) drop-shadow(0px 0px 1px rgba(0,0,0,0.5)); font-family:'Aldrich'; z-index:999; overflow:auto;}
.notifyarea>div {font-family:'Aldrich', '맑은 고딕'; color:#FFF; text-align:center;}
.notifyarea>.logo {background:url(../image/stoneproject.svg) no-repeat; background-position:left top; width:80px; height:80px; background-size:100% auto;}
.notifyarea>.toptext { text-align:left; position:absolute; left:90px; top:4px; font-size:24px; color:rgb(153, 85, 255);}
.notifyarea>.toptext>span {font-family:'Aldrich';}
.notifyarea>.title {font-size:18px; color:rgb(227, 205, 255); background:rgba(0,0,0,0.5); border-radius:3px; margin-left:5px; margin-right:5px;}
.notifyarea>[lang] {padding:8px; background:rgba(0,0,0,0.1); margin-left:5px; margin-right:5px;}
.notifyarea>.donate {background:#0070ba; margin:0 auto; padding:5px; margin-bottom:10px; width:200px; border-radius:40px; transition:.8s;}
.notifyarea>.donate:hover {background:#003087;}

*>.job {position:relative;}
*>.job::after{content:" "; background:url(../image/icons.png) no-repeat; background-size:200px 100px; filter:drop-shadow(0px 0px 1px #AB7813) drop-shadow(0px 0px 1px #AB7813); -webkit-filter:drop-shadow(0px 0px 1px #AB7813) drop-shadow(0px 0px 1px #AB7813); width:20px; height:20px; position:absolute;}
.LMB>.job::after {background-position:-180px -40px;}
.Pld>.job::after {background-position:-40px -20px;}
.Mrd>.job::after {background-position:0px -40px;}
.War>.job::after {background-position:-80px -20px;}
.Drk>.job::after {background-position:0px -80px;}
.Cnj>.job::after {background-position:0px -20px;}
.Whm>.job::after {background-position:-40px -40px;}
.Sch>.job::after {background-position:-20px -60px;}
.Ast>.job::after {background-position:-20px -80px;}
.Pgl>.job::after {background-position:0px -20px;}
.Mnk>.job::after {background-position:-60px -20px;}
.Lnc>.job::after {background-position:-60px 0px;}
.Drg>.job::after {background-position:0px -40px;}
.Rog>.job::after {background-position:-40px -60px;}
.Nin>.job::after {background-position:-60px -60px;}
.Sam>.job::after {background-position:-40px -80px;}
.Thm>.job::after {background-position:-20px -20px;}
.Blm>.job::after {background-position:-60px -40px;}
.Acn>.job::after {background-position:-80px -40px;}
.Smn>.job::after {background-position:0px -60px;}
.Arc>.job::after {background-position:-80px 0px;}
.Brd>.job::after {background-position:-20px -40px;}
.Rdm>.job::after {background-position:-60px -80px;}
.Mch>.job::after {background-position:-80px -60px;}

.raid>.dpsarea {height:auto !important;}
.raid>.dpsarea>div {position:relative; float:left; width:33%; box-sizing:border-box; display:inline-block; top:auto !important;}
.raid>.dpsheader {display:none;}
.raid>.dpsarea>div>.data>.columns {left:30px;}
.raid>.dpsarea>div>.data>.columns>span {display:none;}
.raid>.dpsarea>div>.data>.columns>span.encdps {display:inline-block; text-align:right; margin-right:5px;}
.raid>.dpsarea>div>.data>.columns>span.encdps::before{display:none;}

.body>div>*>.data>.name {white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}

.columns>* {white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}