.anim{transition:.5s;}
.listcov{color:#222; font-weight:bold; font-size:12px; font-family:'맑은 고딕';position:absolute; left:7px; right:7px; -webkit-filter:drop-shadow(0px 0px 2px rgba(0,0,0,.75));}
.detailmodelist{}
.detailmodelist:hover .cont_name{display:block;}
.jobicon{background:rgba(255,255,255,.60); height:24px; width:24px; border-radius:12px; box-shadow:inset 0px 0px 4px rgb(255, 200, 100);}
.jobicon div{width:20px; height:20px; border:2px solid #BCA76C; border-radius:12px;}
.listcontent{background:rgba(0,0,0,.3); height:20px; margin-right:10px; margin-left:32px; margin-top:-22px; text-shadow:0px 0px 5px #FFF;}
.leftdeco{float:left; width:10px; height:20px; overflow:hidden; margin-left:-12px;}
.leftdeco div{margin-top:-18px; margin-left:-36px; border:13px solid rgba(0, 0, 0, .3); border-radius:30px; width:30px; height:30px;}
.rightdeco{float:right; margin-right:-10px; width:0px; height:0px; border-width: 10px 5px 10px 5px; border-color:rgba(0,0,0,.3) transparent transparent rgba(0,0,0,.3); border-style:solid;}
.cont_name, .dpsmeter{ line-height:21px; height:20px; color:#FFF; text-shadow:0px 0px 10px rgba(0,0,0,1);}
.cont_name{float:left; position:absolute; left:36px;}
.dpsmeter{float:right; text-shadow:0px 0px 3px rgba(0,0,0,.5); position:absolute; right:10px;} 

.barometer{transition:.5s; float:left; position:releative; background:linear-gradient(to right, transparent 0%, rgba(255,255,255,.5) 100%); height:4px; margin-top:16px; width:0%; -webkit-filter:drop-shadow(0px 0px 5px rgba(0,0,0,.75));}
.barometer::before{float:right; margin-right:-4px; width:0px; height:0px; border-width:2px 2px 2px 2px; border-color:transparent transparent transparent rgba(255,255,255,.5); border-style:solid; content:' ';}
/*.dds::before{float:right; margin-right:-10px; width:0px; height:0px; border-width: 10px 5px 10px 5px; border-color:rgba(255,255,255,.75) transparent transparent rgba(255,255,255,.75); border-style:solid; content:' ';}
*/
.self .listcontent{text-shadow:0px 0px 5px #F00;}
.self .cont_name{text-shadow:0px 0px 5px #F00;}
.self .dpsmeter{text-shadow:0px 0px 5px #F00; color:#FFF !important;}
.self {-webkit-filter:drop-shadow(0px 0px 5px rgba(0,200,0,.25));}

.LMT .leftdeco div{border-color:rgba(0, 140, 255, .6)}
.LMT .rightdeco{border-color:rgba(255,204,0,.6) transparent transparent rgba(255,204,0,.6);}
.LMT .dpsmeter{color:#FFF;}

.DRG .leftdeco div{border-color:rgba(84, 96, 240, .6)}
.EFE .leftdeco div,
.GRE .leftdeco div,
.TIE .leftdeco div,
.SMN .leftdeco div{border-color:rgba(40, 150, 0,.6)}
.BLM .leftdeco div{border-color:rgba(100, 70, 150, .6)}
.NIN .leftdeco div{border-color:rgba(50, 40, 60, .6)}
.BRD .leftdeco div{border-color:rgba(180,200,80, .6)}
.MCH .leftdeco div,
.ROK .leftdeco div,
.BSH .leftdeco div
{border-color:rgba(130,255,240, .6)}
.MNK .leftdeco div{border-color:rgba(180,140,20, .6)}

.WAR .leftdeco div{border-color:rgba(200,40,0,.6)}
.PLD .leftdeco div{border-color:rgba(210,255,255,.6)}
.DRK .leftdeco div{border-color:rgba(130, 50, 60, .6)}

.WHM .leftdeco div{border-color:rgba(220, 215, 180, .6)}
.SCH .leftdeco div,
.EOS .leftdeco div,
.SLN .leftdeco div
{border-color:rgba(60, 60, 170, .6)}
.AST .leftdeco div{border-color:rgba(240, 200, 110, .6)}

.LMT .listcontent{background:linear-gradient(to right, rgba(0,140,255,.6) 0%, rgba(255,140,0,.6) 40%, rgba(255,204,0,.6) 100%)}
.LMT .barometer{background:linear-gradient(to right, rgba(0,140,255,.6) 0%, rgba(255, 204, 0,.6) 100%);}
.LMT .barometer::before{border-color:transparent transparent transparent rgba(0,140,255,.6));}

.DRG .listcontent{background:linear-gradient(to right, rgba(84, 96, 240,.6) 0%, rgba(0,0,0,.3) 40%, rgba(0,0,0,.3) 100%)}
.EFE .listcontent,
.GRE .listcontent,
.TIE .listcontent,
.SMN .listcontent
{background:linear-gradient(to right, rgba(40, 150, 0,.6) 0%, rgba(0,0,0,.3) 40%, rgba(0,0,0,.3) 100%)}

.BLM .listcontent{background:linear-gradient(to right, rgba(100, 70, 150,.6) 0%, rgba(0,0,0,.3) 40%, rgba(0,0,0,.3) 100%)}
.NIN .listcontent{background:linear-gradient(to right, rgba(50, 40, 60,.6) 0%, rgba(0,0,0,.3) 40%, rgba(0,0,0,.3) 100%)}
.BRD .listcontent{background:linear-gradient(to right, rgba(180, 200, 80,.6) 0%, rgba(0,0,0,.3) 40%, rgba(0,0,0,.3) 100%)}
.MCH .listcontent,
.ROK .listcontent,
.BSH .listcontent
{background:linear-gradient(to right, rgba(130, 255, 240,.6) 0%, rgba(0,0,0,.3) 40%, rgba(0,0,0,.3) 100%)}
.MNK .listcontent{background:linear-gradient(to right, rgba(180, 140, 20,.6) 0%, rgba(0,0,0,.3) 40%, rgba(0,0,0,.3) 100%)}

.WAR .listcontent{background:linear-gradient(to right, rgba(200, 40, 0,.6) 0%, rgba(0,0,0,.3) 40%, rgba(0,0,0,.3) 100%)}
.PLD .listcontent{background:linear-gradient(to right, rgba(210, 255, 255,.6) 0%, rgba(0,0,0,.3) 40%, rgba(0,0,0,.3) 100%)}
.DRK .listcontent{background:linear-gradient(to right, rgba(130, 50, 60,.6) 0%, rgba(0,0,0,.3) 40%, rgba(0,0,0,.3) 100%)}

.WHM .listcontent{background:linear-gradient(to right, rgba(220, 215, 180,.6) 0%, rgba(0,0,0,.3) 40%, rgba(0,0,0,.3) 100%)}
.SCH .listcontent,
.EOS .listcontent,
.SLN .listcontent
{background:linear-gradient(to right, rgba(60, 60, 170,.6) 0%, rgba(0,0,0,.3) 40%, rgba(0,0,0,.3) 100%)}
.AST .listcontent{background:linear-gradient(to right, rgba(240, 200, 110,.6) 0%, rgba(0,0,0,.3) 40%, rgba(0,0,0,.3) 100%)}


.LMT .jobicon{background-color:rgba(0,140,255,.6);}

.CBO .jobicon
{background-color:#999637;}

.ACN .jobicon,
.THM .jobicon,
.LNC .jobicon,
.ROG .jobicon,
.ARC .jobicon,

.DRG .jobicon,
.SMN .jobicon,
.BLM .jobicon,
.NIN .jobicon,
.BRD .jobicon,
.MCH .jobicon,
.MNK .jobicon
{background-color:rgba(220, 0, 0, .6);}

.GLD .jobicon,
.MRD .jobicon,

.WAR .jobicon,
.PLD .jobicon,
.DRK .jobicon
{background-color:rgba(0, 40, 220, .6);}

.CNJ .jobicon,

.WHM .jobicon,
.SCH .jobicon,
.AST .jobicon
{background-color:rgba(40, 170, 0, .6);}

.top, .option, .bottom, .detailview{background:rgba(0,0,0,.2); box-shadow:inset 0px 0px 3px rgba(255,255,255,.5); -webkit-filter:drop-shadow(0px 0px 2px rgba(0,0,0,.5));}
.top{position:Absolute; left:5px; top:5px; right:5px; height:34px;}

.bottom{position:absolute; left:5px; bottom:5px; right:5px; height:18px;}
.topliner{height:16px;}

.option{min-width:120px; overflow:auto; right:5px; top:40px; position:fixed; background:rgba(0,0,0,.75); z-index:999; font-family:'돋움'; font-size:12px; text-align:center; color:#FFF;}
.option[data='sort']{}
.option div{margin:2px; padding:2px; box-shadow:inset 0px 0px 3px rgba(255,255,255,.5); margin-left:24px;}
.option div[select='yes']{font-weight:bold;}
.option div[select='yes']:before{content:'✓'; display:block; width:24px; position:absolute; left:0px;}

.buttons{height:14px; width:14px; border-radius:7px; box-shadow:inset 0px 0px 3px rgba(255,255,255,1); float:right; margin-right:5px; margin-top:2px; font-size:11px; text-align:center; line-height:15px; color:#FFF; font-family:'돋움';} 
.buttons:hover{background-color:rgba(255,255,255,.2);}

.buttons.sort{background:url(../img/SORT.png) no-repeat; padding-left:12px;}
.buttons.sort:hover{background:url(../img/SORT.png) no-repeat; background-color:rgba(255,255,255,.2);}

.buttons.set{background:url(../img/gear.png) no-repeat;}
.buttons.set:hover{background:url(../img/gear.png) no-repeat; background-color:rgba(255,255,255,.2);}

.buttons.viewsize{background:url(../img/view.png) no-repeat;}
.buttons.viewsize:hover{background:url(../img/view.png) no-repeat; background-color:rgba(255,255,255,.2);}

.buttons.detailview{background:url(../img/magnify.png) no-repeat; padding-left:14px; width:0px; overflow:hidden;}
.buttons.detailview:hover{background:url(../img/magnify.png) no-repeat; background-color:rgba(255,255,255,.2); width:100px;}

.encounter{float:left; font-size:11px; color:#FFF; width:auto; padding-left:8px; padding-right:8px; margin-left:5px;}
.namev{}

.detailview{left:32px; top:40px; bottom:24px; right:5px; position:absolute; z-index:999;display:none;}
.marker{position:absolute; top:50%; margin-top:-20px; height:40px; line-height:40px; width:100%; text-align:center; font-size:14px; color:#AAA;}

.text{height:14px; float:left; margin-left:5px; margin-top:2px; font-size:11px; text-align:left; line-height:15px; color:#FFF; font-family:'돋움';} 
